/* Schriftart */
@font-face {
    font-family: 'raleway';
    src: url(./assets/fonts/Raleway-VariableFont_wght.ttf);
}

/* Allgemein */
html {
    background-color: #e76c1f;
    scrollbar-color: #e76c1f transparent;
}

body {
    font-family: 'raleway';
    font-size: 18px;
    font-weight: 400;
    min-height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 54px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-size: 22px;
    font-weight: 550;
}

a {
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

button {
    font-family: 'raleway';
    transition: all 0.25s;
}

button:hover {
    scale: 1.05;
}

.content_max-width {
    padding: 0 32px;
    width: 1440px;
    max-width: 1440px;
    display: flex;
}

:root {
    --padding-left-right: 32px;
}

/* Header */
.header {
    padding: 24px 0;
    background-color: #e76c1f;
    display: flex;
    justify-content: center;
}

.headerContent_max-width {
    justify-content: space-between;
}

.logo {
    height: 48px;
    fill: #eee;
    cursor: pointer;
}

/* Main */
.main {
    background-color: #eee;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.content_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.basketSlider {
    flex-grow: 1;
    background-color: #363534;
    box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.basketOverlay {
    display: none;
}

.basketDesktop {
    position: sticky;
    top: 0px;
    width: 400px;
    height: 90vh;
    padding: 16px;
    color: #fdeadc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #363534;
    z-index: 2;
    animation: basketDesktopSlideIn 0.25s ease-in-out;
}

.basketHeader {
    width: 100%;
    padding: 16px 0;
}

.basketHeadline {
    text-align: center;
}

.basketContents {
    width: 100%;
    height: 100%;
    padding: 16px 0;
    color: #363534;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: scroll;
}

.numberAmount {
    padding: 16px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mealBasketNumber {
    cursor: pointer;
}

.mealNumber {
    display: flex;
    gap: 8px;
}

.mealNumberTrash {
    display: block;
}

.mealNumberMinus {
    display: none;
}

.basketIcon {
    height: 24px;
}

.basketMeal {
    width: 100%;
    padding: 24px;
    background-color: #fdeadc;
    border-radius: 24px;
}

.total {
    width: 100%;
    padding: 24px 0;
}

.amount {
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
}

.extraCosts {
    padding-bottom: 24px;
}

.totalAmount {
    padding: 24px 0;
}

.sendButton {
    width: 100%;
    padding: 24px 0 0;
    display: flex;
    justify-content: center;
}

.buyNow {
    font-weight: 500;
    padding: 12px 24px;
    color: #fdeadc;
    background-color: #e76c1f;
    border-radius: 24px;
}

.buyNow:hover {
    color: #e76c1f;
    background-color: #fdeadc;
}

.mainContent_max-width {
    width: 100%;
    padding: 0;
    align-items: center;
    flex-direction: column;
}

.companySite {
    width: calc(100% - 400px);
    padding: 0 0 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-grow: 1;
}

.companyPresentation {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainImg {
    width: 100%;
    height: 40vh;
    max-height: 600px;
    background-image: url(./assets/img/mainImg.jpg);
    background-size: cover;
    background-position: center;
}

.companyName {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    z-index: 1;
}

.companyLogo {
    height: 256px;
    margin-top: -128px;
    border: 12px solid #e76c1f;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.companyNameReview {
    display: flex;
    align-items: center;
    gap: 48px;
}

.headerSecondColor {
    color: #e76c1f;
}

.review {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: rgba(231, 108, 31, 0.5);
    border-radius: 16px;
}

.reviewIcon {
    height: 28px;
}

.reviewRating {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    gap: 8px;
}

.reviewNumber {
    font-weight: 400;
    opacity: 0.5;
}

.subheader {
    text-align: center;
}

.mealsNavigation {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 48px;
    background-color: #e76c1f;
}

.navigationRow {
    flex-direction: row;
    justify-content: space-evenly;
}

.navigationQuicklinks {
    padding: 24px 0;
}

.mealsOverview {
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.meals {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.mealsHeader {
    width: 100%;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.mealsHeaderImg {
    width: 100%;
    height: 156px;
    object-fit: cover;
}

.mealsHeadline {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}

.mealsIcon {
    height: 56px;
    border-radius: 50%;
}

.mealNumberBasket {
    cursor: pointer;
}

.mealsLogo {
    height: 104px;
    margin-top: -32px;
}

.mealList {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.meal {
    width: 100%;
    padding: 16px;
    display: flex;
    gap: 24px;
    background-color: rgba(231, 108, 31, 0.25);
    object-fit: contain;
    border-radius: 16px;
}

.mealImg {
    width: 200px;
    height: 160px;
    object-fit: cover;
}

.mealInfo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.mealNamePrice {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mealBasket {
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    gap: 16px;
}

.mealBasketButton {
    font-weight: 600;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: #eee;
    border-radius: 32px;
}

.mealBasketButton:hover {
    background-color: #e76c1f;
}

.mealBasketButton:hover .plusIcon {
    fill: #fdeadc;
}

.plusIcon {
    height: 24px;
    fill: #e76c1f;
}

dialog {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

dialog::backdrop {
    opacity: 0;
    background-color: black;
    transition: all 1s ease-in;
}

dialog.opened::backdrop {
    opacity: 0.5;
    transition: all 125ms ease-in;
}

.orderConfirmed {
    padding: 24px;
    background-color: #363534;
    color: #fdeadc;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: none;
    border-radius: 24px;
}

.closeIconContainer {
    width: 100%;
    display: flex;justify-content: flex-end;
}

.closeIcon {
    fill: #fdeadc;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.orderConfirmedCar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.orderConfirmedHeadline {
    padding: 8px 0;
} 

/* Footer */
.footer {
    padding: 24px 0;
    background-color: #e76c1f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerContent_max-width {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 88px;
}

.footerIcon {
    height: 28px;
    fill: #eee;
    opacity: 0.7;
    vertical-align: middle;
}

/* Impressum */
.mainImpressum {
    align-items: normal;
}

.mainImpressum a {
    color: #e76c1f;
}

.impressumContent_max-width {
    flex-direction: column;
    align-items: self-start;
    justify-content: start;
}

.mainImpressum_section {
    padding-top: 32px;
}

.mainImpressum-header {
    padding: 24px 0 8px;
}

.mainImpressum-text {
    padding: 8px 0;
}

.mainImpressum_datenschutz {
    padding: 8px 0 32px;
}

.mainImpressum-link:hover {
    text-decoration: underline;
    text-decoration-thickness: none;
    text-underline-position: none;
    text-underline-offset: none;
}

@media (min-width: 1728px) {
    /* Allgemein */
    .content_max-width {
        padding: 0;
    }

    /* Main */
    .basketDesktop {
        height: 750px;
    }

    .basketHeader {
        width: 100%;
        padding: 16px 0;
    }

    .basketHeadline {
        text-align: center;
    }

    .basketContents {
        width: 100%;
        height: 100%;
        padding: 16px 0;
        color: #363534;
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow: scroll;
    }

    .numberAmount {
        padding: 16px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mealNumber {
        display: flex;
        gap: 8px;
    }

    .mealNumberMinus {
        display: none;
    }

    .basketIcon {
        height: 24px;
    }

    .basketMeal {
        width: 100%;
        padding: 16px;
        background-color: #fdeadc;
        border-radius: 24px;
    }

    .total {
        width: 100%;
        padding: 16px 0;
    }

    .amount {
        padding: 4px 0;
        display: flex;
        justify-content: space-between;
    }

    .extraCosts {
        padding-bottom: 16px;
    }

    .totalAmount {
        padding: 16px 0;
    }

    .sendButton {
        width: 100%;
        padding: 8px;
        display: flex;
        justify-content: center;
    }

    .buyNow {
        font-weight: 500;
        padding: 12px 24px;
        color: #fdeadc;
        background-color: #e76c1f;
        border-radius: 24px;
    }

    .companyPresentation {
        width: 100%;
    }

    .mealsOverview {
        padding: 0 16px;
    }
}

@media (max-width: 1000px) {
    /* Allgemein */
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    /* Header */
    .logo {
        height: 40px;
    }

    /* Main */
    .basketDesktop {
        width: 256px;
    }

    .companySite {
        width: calc(100% - 256px);
    }

    .companyName {
        gap: 28px;
    }

    .companyLogo {
        height: 188px;
        margin-top: -94px;
    }

    .companyNameReview {
        justify-content: center;
        flex-direction: column;
        gap: 16px;
    }

    .reviewIcon {
        height: 24px;
    }

    .reviewRating {
        font-size: 22px;
    }

    .mealsHeaderImg {
        height: 104px;
    }

    .mealImg {
        width: 168px;
        height: 128px;
    }

    .plusIcon {
        height: 22px;
    }
}

@media (max-width: 780px) {
    /* Allgemein */
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    /* Header */
    .logo {
        height: 32px;
    }

    /* Main */
    .basketDesktop {
        width: 224px;
    }

    .companySite {
        width: calc(100% - 224px);
    }

    .companyName {
        gap: 20px;
    }

    .companyLogo {
        height: 144px;
        margin-top: -72px;
    }

    .companyNameReview {
        gap: 12px;
    }

    .reviewIcon {
        height: 22px;
    }

    .reviewRating {
        font-size: 20px;
    }

    .mealList {
        gap: 24px;
    }

    .mealsHeaderImg {
        height: 88px;
    }

    .mealImg {
        height: 156px;
        object-fit: cover;
    }

    .plusIcon {
        height: 20px;
    }
}

@media (max-width: 700px) {
    /* Allgemein */
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    /* Header */
    .header {
        position: sticky;
        top: 0;
        height: 10vh;
        align-items: center;
        z-index: 3;
    }

    .logo {
        z-index: 3;
    }

    /* Main */
    .basketSlider {
        display: none;
    }

    .basketDesktop {
        display: none;
    }

    .basketOverlay {
        display: none;
        width: 100%;
        height: 90vh;
        background-color: #363534;
        overflow: hidden;
    }

    .basketOverlay.basketOverlayOpened {
        display: block;
    }

    .basketMobile {
        height: 100%;
        padding: 16px;
        color: #fdeadc;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        animation: basketMobileSlideIn 0.25s ease-in-out;
    }

    .basketHeader {
        padding: 0 0 16px;
    }

    .basketHeadline {
        font-size: 40px;
    }

    .basketContents {
        height: 50vh;
        padding: 16px 0;
        gap: 16px;
    }

    .numberAmount {
        padding: 24px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mealNumber {
        display: flex;
        gap: 8px;
    }

    .mealNumberMinus {
        display: none;
    }

    .basketIcon {
        height: 28px;
    }

    .basketMeal {
        width: 100%;
        padding: 16px;
        background-color: #fdeadc;
        border-radius: 24px;
    }

    .basketMeal h3 {
        font-size: 28px;
    }

    .basketMeal h4 {
        font-size: 24px;
    }

    .total {
        font-size: 22px;
        width: 100%;
        padding: 16px 0 0;
    }

    .amount {
        padding: 4px 0;
        display: flex;
        justify-content: space-between;
    }

    .extraCosts {
        padding-bottom: 12px;
    }

    .totalAmount {
        padding: 12px 0;
    }

    .sendButton {
        width: 100%;
        padding: 8px;
        display: flex;
        justify-content: center;
    }

    .buyNow {
        font-weight: 500;
        padding: 16px 28px;
        color: #fdeadc;
        background-color: #e76c1f;
        border-radius: 32px;
    }

    .buyNow h3 {
        font-size: 28px;
    }

    .companySite {
        gap: 24px;
    }

    .mainImg {
        height: 32vh;
    }

    .companyName {
        gap: 16px;
    } 

    .reviewIcon {
        height: 20px;
    }

    .reviewRating {
        font-size: 18px;
    }

    .mealsNavigation {
        display: none;
    }

    .mealsHeader {
        gap: 16px;
    }

    .mealsHeaderImg {
        display: none;
    }

    .mealsHeadline {
        color: #eee;
        align-items: center;
        flex-direction: column;
        gap: 4px;
    }

    .mealsHeadline h2 {
        width: calc(100% + 32px);
        padding: 8px;
        text-align: center;
        background-color: #e76c1f;
    }

    .mealsIcon {
        height: 56px;
        margin-bottom: -16px;
        display: block;
        border-radius: 50%;
        z-index: 2;
    }

    .meal {
        flex-direction: column;
    }

    .mealImg {
        width: 100%;
        height: 96px;
    }

    .mealInfo {
        gap: 16px;
    }

    .plusIcon {
        height: 18px;
    }

    /* Footer */
    .footerContent_max-width {
        gap: 40px;
    }

    .footerIcon {
        height: 22px;
    }
}

@keyframes basketMobileSlideIn {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes basketDesktopSlideIn {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}